@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>BigSystemSolutions - Dashboard</title>
    <meta content="Admin Dashboard" name="description" />
     
    <link rel="shortcut icon" href="~/images/favicon.ico">

    @Styles.Render("~/Content/css")
</head>

<body>
    <!-- Begin page -->
    <div class="wrapper-page">
        <div class="card">
            <div class="card-block">

                <div class="ex-page-content text-center">
                    <h1 class="text-dark">404!</h1>
                    <h4 class="">Sorry, page not found</h4><br>

                    <a class="btn btn-info mb-5 waves-effect waves-light" href="/Dashboard"><i class="mdi mdi-home"></i> Back to Dashboard</a>
                </div>

            </div>
        </div>

        <div class="m-t-40 text-center">
            <p>© 2020 BigSystemSolutions Crafted with <i class="mdi mdi-heart text-danger"></i> by Two Hommies</p>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
</body>
</html>