<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TopValue.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <appSettings>
        <add key="C1ApplicationThemeSettings" value="ThemeFamily=1;PrimaryColor=255098000238;SecondaryColor=255211047047;" />
        <add key="C1ApplicationTheme" value="Material" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TopValue.Properties.Settings>
            <setting name="role" serializeAs="String">
                <value />
            </setting>
            <setting name="EmpName" serializeAs="String">
                <value />
            </setting>
            <setting name="SupervisorName" serializeAs="String">
                <value />
            </setting>
            <setting name="DepartmentName" serializeAs="String">
                <value />
            </setting>
            <setting name="EmpID" serializeAs="String">
                <value />
            </setting>
            <setting name="SupervisorEmail" serializeAs="String">
                <value />
            </setting>
        </TopValue.Properties.Settings>
    </userSettings>
</configuration>