<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings1.cnnString" connectionString="server=capstone-server-twohommies2.database.windows.net;database=Capstone;User ID=capstone-admin;Password=Hommie1234;integrated security= False;" />
    </connectionStrings>
</configuration>