<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>HomeView</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>404</servlet-name>
        <jsp-file>/404.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CreateTaskView</servlet-name>
        <jsp-file>/task.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>TaskController</servlet-name>
        <servlet-class>com.web.controllers.TaskController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeController</servlet-name>
        <servlet-class>com.web.controllers.EmployeeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeamController</servlet-name>
        <servlet-class>com.web.controllers.TeamController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobController</servlet-name>
        <servlet-class>com.web.controllers.JobController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>com.web.controllers.HomeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TaskController</servlet-name>
        <url-pattern>/TaskController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeController</servlet-name>
        <url-pattern>/EmployeeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeView</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>404</servlet-name>
        <url-pattern>/404</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTaskView</servlet-name>
        <url-pattern>/task/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskController</servlet-name>
        <url-pattern>/task/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskController</servlet-name>
        <url-pattern>/tasks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeController</servlet-name>
        <url-pattern>/employee/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeController</servlet-name>
        <url-pattern>/employees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeamController</servlet-name>
        <url-pattern>/TeamController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeamController</servlet-name>
        <url-pattern>/teams</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeamController</servlet-name>
        <url-pattern>/team/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobController</servlet-name>
        <url-pattern>/JobController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobController</servlet-name>
        <url-pattern>/jobs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobController</servlet-name>
        <url-pattern>/job/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/404</location>
    </error-page>
</web-app>
